<div class="row">
  <div class="col-md-3">
    <div class="panel panel-info">
      <div class="panel-heading">
      <a>Article列表</a>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="panel panel-info">
      <div class="panel-heading">
        Article列表
        <button type="button" class="btn btn-success btn-xs pull-right"
        ng-click="showAddarticle()">+新增</button>
      </div>
    <table class="table">
      <thead>
      <tr>
        <td>ID</td>
        <td>名称</td>
        <td>类型</td>
        <td>发布时间</td>
        <td>修改时间</td>
        <td>发布者</td>
        <td>状态</td>
        <td>操作</td>
      </tr>
      </thead>
    </table>
    </div>
  </div>
</div>
