<!--<table>-->
  <!--<thead>-->
  <!--<tr>-->
    <!--<td>ID</td>-->
    <!--<td>名称</td>-->
    <!--<td>类型</td>-->
    <!--<td>发布时间</td>-->
    <!--<td>修改时间</td>-->
    <!--<td>发布者</td>-->
    <!--<td>状态</td>-->
    <!--<td>操作</td>-->
  <!--</tr>-->
  <!--</thead>-->
  <!--<tbody>-->
    <tr  style="align-data: center">
      <td style="width:70px">{{article.id}}</td>
      <td style="width:130px">{{article.name}}</td>
      <td style="width:150px">{{article.type}}</td>
      <td style="width:150px">{{article.createtime}}</td>
      <td style="width:150px">{{article.lastmodifiedtime}}</td>
      <td style="width:150px">{{article.createuser}}</td>
      <td style="width:150px">{{article.status}}</td>
      <td style="width:150px">{{article.operation}}</td>
    </tr>
  <!--</tbody>-->
<!--</table>-->

